SUPABASE_URL=postgresql://postgres.fjdqqjhodeqtvpgqzxgf:Amitosh@171004@aws-1-ap-southeast-2.pooler.supabase.com:5432/postgres
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
PORT=3000
NODE_ENV=development
